<!DOCTYPE html>
<html lang="en">
<head>
  <title>My App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/3/cerulean/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://bootswatch.com/3/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <style>
    .btn_to_a {
      background:none!important;
      color:inherit;
      border:none; 
      padding:0!important;
      font: inherit;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ route('/') }}">HonestGiver</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="{{ url == route('/') ? 'active' : '' }}"><a href="{{ route('/') }}">Home</a></li>
        @loggedIn
        <li class="{{ url == route('profile') ? 'active' : '' }}"><a href="{{ route('profile') }}">Profile</a></li>
        @endloggedIn
      </ul>
      <ul class="nav navbar-nav navbar-right">
        @loggedIn
          <li>
            {{--  <a href="{{ route('logout') }}">Logout</a>  --}}
            <form method="POST" action="{{ route('logout') }}" style="float: right; display: inline-block; margin-top: 20px;">
              {{ csrfField() }}
              <button class="btn_to_a" name="logout">Logout</button>
            </form>
          </li>
        @else
          <li><a href="{{ route('login') }}">Login</a></li>
        @endloggedIn
      </ul>
    </div>
  </nav>
    
  <div class="container" style="margin-top:60px">
    @!section('content')
  </div>

</body>
</html>